
// Body
$body-bg: #f5f8fa;


// Typography
$font-family: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$KF-Grey: #424549;
// $KF-Blue: #445c9a;
$KF-Blue: #345ab9;
$KF-BlueDark: rgb(29, 55, 184);
$KF-BlueNav: #3366ff;
$KF-BlueDeep: #13278D;
$KF-BlueLight: rgb(57, 110, 255);
